:root {
  --dark-blue: hsl(230, 33%, 21%);
  --pale-blue: hsl(231, 48%, 89%);
  --pink: hsl(352, 93%, 84%);
  --shadow-color: hsla(231, 27%, 25%, 0.637);
}

.App {
  text-align: center;
}

.App {
  background-color:	var(--dark-blue);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  height: 5vh;
  width: 100vw;
  position: absolute;
  top: 93vh;
  padding-top: 10px;
  background-color: var(--dark-blue);
  color: hsl(230, 58%, 82%);
  font-size: 1.3rem;
}

.App-footer > a {
  text-decoration: none;
  color:var(--pink)
}

.App-footer > a:hover {
  color: hsl(60, 100%, 100%);
}
